<%- include ('../layourts/header') -%>
<%- include ('../layourts/sidebar' ,{entity_name}) -%>
<div class="container-fluid">

    <div class="row">

        <div class="col-xl-12 col-lg-7">

            <!-- Area Chart -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Nombre de Naissance Par Mois</h6>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="myAreaChart"></canvas>
                    </div>
                    <hr>
                    Cette Courbe répresente la progression du nombre de  naissance par Mois au Cameroun
    
                </div>
            </div>

       
        </div>
        <div class="row">

            <div class="col-xl-12 col-lg-7">
    
                <!-- Area Chart -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Nombre de Naissance Par Mois</h6>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="myBornByYear"></canvas>
                        </div>
                        <hr>
                        Cette Courbe répresente la progression du nombre de  naissance par Mois au Cameroun
        
                    </div>
                </div>
    
           
            </div>
</div>



<script>
    let values = <%- JSON.stringify(data_naissance) %> ;
    let data_nai = [] , labels_nai = []
    values.forEach(element => {
        data_nai.push(element.Nombre)
        labels_nai.push(element.mois)
    });
</script>


<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; BUNEC 2022</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/virsualisation/chart-area.js"></script> 
 <script src="js/virsualisation/chart-pie.js"></script> 
 <script src="js/virsualisation/naissance.js"></script> 

 <script src="js/virsualisation/status.js"></script> 
 <script src="vendor/datatables/jquery.dataTables.min.js"></script>
 <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

 <script src="js/virsualisation/datatables.js"></script>
</body>

</html>